---
import { SLIDERHEADER } from "@/utils/consts";
import Action from "./Action.astro";
---

<div class="mt-10 sm:px-5 lg:rounded px-8 pt-24 pb-8 mx-auto items-center">
  <!-- slider 1 - objeto debajo de nav   -->
  <div id="slider">
    <!-- contenedor principal  -->
    <div id="slides">
      <!-- contenedor que agrupa todos los div una detras de otro -->
      <div id="overflow">
        <!--contenedor que agrupa el inner dentro del cuadro  -->
        <div class="inner">
          <!--contenedor que agrupa los slides en la platilla de slides -->
          {
            SLIDERHEADER.map(
              ({ Title, Subtitle, Description, Img, AltSlider }) => (
                <div class="slide">
                  <div class=" mx-4 lg:flex flex-row lg:mx-2">
                    <div class="w-full lg:w-2/4">
                      <h1 class="text-4xl font-semibold my-10">{Title}</h1>
                      <h2 class="text-2xl font-medium mb-5">{Subtitle}</h2>
                      <p class="text-sm md:text-pretty md:text-xl">
                        {Description}
                      </p>
                      <a href="/nosotros">
                        <Action
                          class="mt-10 text-center border-logonmt text-white hover:bg-logonmt"
                          href="/servicios"
                          aria-label="volver a la página principal"
                          as="a"
                        >
                          Entra..
                        </Action>
                      </a>
                    </div>
                    <div class="slide-img lg:w-2/4 mt-10 lg:justify-center lg:mt-0 lg:py-auto">
                      <img
                        alt={AltSlider}
                        class="m-auto w-3/4 justify-center"
                        src={Img}
                        style="filter: drop-shadow(30px 10px 4px rgba(66, 21, 21, 0.345))"
                      />
                    </div>
                  </div>
                </div>
              )
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  /***/
  /*carrusel de servicios - inicio*/
  #slider {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
  }

  #slides {
    width: 1000px;
    height: 600px;
  }

  #overflow {
    width: 100%;
    overflow: hidden;
    width: 1000px;
    height: 600px;
  }

  .inner {
    width: 1000px;
    height: fit-content;
  }

  #slider {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    text-align: center;
  }

  #slides {
    padding: auto;
    position: relative;
    z-index: 1;
  }

  #overflow {
    width: 100%;
    overflow: hidden;
  }

  #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 400%;
    height: 600px;
    animation: slide 30s infinite alternate ease-in-out;
  }

  #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }

  @keyframes slide {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }

  /*carrusel de servicios - final*/
  /***/
  @media screen and (min-width: 300px) and (max-width: 1023px) {
    #slider {
      top: 250px;
      margin: auto;
      width: 100%;
      height: max-content;
    }

    #slides {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      z-index: 1;
    }

    #overflow {
      width: 90%;
      height: auto;
      padding: 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .inner {
      width: 100%;
    }

    .slide {
      padding-left: 0;
      padding-right: 0;
    }

    #slides .inner {
      width: 400%;
      height: auto;
    }

    #slides .slide {
      width: 25%;
      height: 100%;
    }
  }
</style>
