---
import Action from "@/components/Action.astro";
import { PROYECTS } from "@/utils/proyects";
const listOfProyects = PROYECTS.map((proyect) => {
  return { ...proyect };
});
import "photoswipe/style.css";
---

<div
  class="grid grid-col-1 max-w-72 gap-4 md:grid-cols-3 md:max-w-6xl md:gap-8 mx-auto py-20"
>
  {
    listOfProyects.map(({ id, title }) => (
      <div class="transition-all group">
        <a
          // href={`/proyectos/${id}.jpg`}
          data-cropped="true"
          data-pswp-width="1000"
          data-pswp-height="625"
          target="_blank"
          class="group hover:scale-105 transition-all relative"
        >
          <img
            transition:name="boxer-big-image"
            src={`/proyectos/${id}.jpg`}
            alt={`Servicio de ${title} en NM Telecom`}
            loading="lazy"
            class="aspect-square object-cover"
          />
          <img
            transition:name="boxer-big-image"
            src={`/proyectos/${id}.jpg`}
            alt={`Servicio de ${title} en NM Telecom`}
            loading="lazy"
            class="blur-3xl absolute inset-0 transition rounded-xl group-hover:contrast-200 opacity-70 -z-10 aspect-square object-cover"
          />
        </a>
        <div class="mt-4 flex flex-col items-center justify-center hover:transition-opacity duration-300 gap-2">
          <span class="text-white font-medium text-xl">{title}</span>
          <Action
            class="text-center border-logonmt bg-logoBlue text-white hover:bg-logoGreen"
            href={`/proyectos/${id}`}
            aria-label="volver a la página proyecto"
            as="a"
          >
            Ver Proyecto
          </Action>
        </div>
      </div>
    ))
  }

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });
    lightbox.init();
  </script>
</div>
