---
import BoxerBigImage from "@/components/BoxerBigImage.astro";
import { PROYECTS } from "@/utils/proyects";
import Layout from "@/layouts/Layout.astro";
import Action from "@/components/Action.astro";

export function getStaticPaths() {
  return PROYECTS.map(({ id }) => ({
    params: { id },
  }));
}

const { id } = Astro.params;
const [proyect] = PROYECTS.filter((boxer) => boxer.id === id);
export const prerender = true;
---

<Layout
  description={`Información del proyecto ${proyect.title}`}
  title={`${proyect.title} - NM Telecom SAC`}
>
  <main>
    <section
      class="gap-10 pt-10 px-5 items-center flex flex-col md:gap-16 justify-center pb-10"
    >
      <div class="md:items-center md:justify-center">
        <BoxerBigImage
          id={id}
          title={proyect.title}
          text={proyect.text}
          customer={proyect.customer}
          loading="eager"
        />
      </div>
      <Action
        class="text-center border-logonmt bg-logoBlue text-white hover:bg-logoGreen"
        href="/servicios"
        aria-label="volver a la página principal"
        as="a"
      >
        Regresar
      </Action>
    </section>
  </main>
</Layout>
